/* Tablet and smaller screens */
.howitworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #82A1C4;
    padding: 15px;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hiw-main {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.hiw-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.hiw-Headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 12px;
}

.hiw-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #00428C;
    margin: 0;
}

.hiw-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.0088em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
    max-width: 280px;
}

.hiw-subtitle span {
    color: #EFCE4A;
    font-weight: bolder;
}

.hiw-container {
    width: 100%;
}

.hiw-content {
    height: fit-content;
}

.hiw-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 20px 10px;
    text-align: center;
    letter-spacing: -0.0088em;
    color: #FFFFFF;
}

@media (min-width: 1024px) {
    .hiw-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }

    .hiw-wrapper {
        flex: 1;
        max-width: 450px;
        align-items: flex-start;
    }

    .hiw-Headers {
        text-align: left;
        align-items: flex-start;
        margin: 0;
    }

    .hiw-title {
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        margin-left: 10px;
    }

    .hiw-subtitle {
        text-align: left;
        margin: 0 0 0 10px;
    }

    .hiw-container {
        flex: 1;
        max-width: 580px;
    }

    .hiw-content {
        max-width: 352px;
    }

    .hiw-content p {
        font-size: 22px;
        line-height: 28px;
        margin: 30px 0 30px 10px;
        text-align: left;
    }
}